<div class="container" *ngIf="product">
  <div class="row my-3 product-detail">
    <div class="col-lg-6 product-image">
      <img [src]="'assets/products/product'+product.imageId+'.jpg'" width="500px" height="500px">
    </div>
    <div class="col-lg-6 product-info">
      <h2 class="mb-3">{{product.name}}</h2>
      <ul *ngFor="let item of productDetailSubstances">
        <li>{{item}}</li>
      </ul>
      <button style="width:100%;" class="btn btn-success">Sipariş Ver</button>
    </div>
  </div>
</div>
